#mainHeading {
    color: red;
}
body {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: goldenrod;
}
.funParagraph{
    color: darkgreen;
}
figure {
	margin: 8;
	padding: 16;
	text-align: center;
}
figcaption{
    font-style: oblique;
}